{% import 'extra_components/header_template.html' as Header %}

{% macro render(PAGE_NUM=none, chapter_header="", flag="", OR_MATCHING_YEAR="", METADATA=none, total_pages=none, CHAPTER_NUM=none, TOTAL_BOOTHS_PER_CHAPTER=none) -%}
        <div class="comparative_analysis_pdf_index_page page-break">
            {{ Header.render(PAGE_NO=PAGE_NUM, METADATA=METADATA, GRAPH_TITLES=none, TOTAL_PAGES=total_pages, HIERARCHY_ITEM_DATA=none, CHAPTER_NUM=CHAPTER_NUM, OR_MATCHING_YEAR=OR_MATCHING_YEAR, chapter_header=chapter_header, TOTAL_BOOTHS_PER_CHAPTER=TOTAL_BOOTHS_PER_CHAPTER) }}
            
            <div class="ca_index_table">
                <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; border: 1px solid black; height: 100%;">
                    {# title #}
                    <div style="width: 100%; text-align: center; text-decoration: underline; padding-top: 1rem; font-weight: 800; font-size: 1.2rem;">
                        {{ METADATA["T"]["chapter"] }} {{ CHAPTER_NUM }}: {{ '{} - '.format(OR_MATCHING_YEAR) if OR_MATCHING_YEAR else ''}} {{ chapter_header }}
                    </div> 

                    <div style="font-size: 0.8rem; padding: 1rem 2rem 0; text-align: justify; text-justify: inter-word; display: flex; flex-direction: column; justify-content: space-between; gap: 3rem; line-height: 140%;" class="increased_line_height">
                        {% if flag == 0 %}
                            <p>வாக்குச்சாவடி வாரியாக பல்வேறு தேர்தல்களில் திமுக அல்லது அதன் கூட்டணி பெற்ற வாக்குகளை, பிற கட்சிகள் பெற்ற வாக்குகளுடன் பகுப்பாய்வு செய்து அதுகுறித்த நுண்ணறிவு தகவல்களை இந்த பகுதி  வழங்குகிறது. வாக்காளர்களின் விவரங்கள், வாக்குச்சாவடியின் விவரம், வாக்கு வித்தியாசம், தெருக்கள் குறித்த தகவல் மற்றும் கட்சிகளுக்கு இடையேயான வாக்கு ஒப்பீட்டு விளக்கப்படம் வாயிலான தரவுகளை இந்த பகுதியில் அறியலாம்.   </p>

                            <p style="font-weight: 700;">வாக்குச்சாவடி நிலையின் பகுப்பாய்வு ஒப்பீட்டு அறிக்கை என்பது  பட்டியல், பகுப்பாய்வு , பின்குறிப்பு எனும் மூன்று பகுதிகளைக் கொண்டுள்ளது.  </p>
                            
                            <ol style="padding: 0 2rem 0;">
                                <li><span style="font-weight: 700;">பட்டியல் பகுதி:</span>  நாம் தேர்ந்தெடுத்த தேர்தலுக்கு ஏற்ப  வாக்குச்சாவடிகளின் வெற்றித் தோல்வி  போக்கு மற்றும் துணை போக்குகளின் அடிப்படையில்  வகைப்படுத்தப்பட்டுள்ளது.  </li>

                                <li><span style="font-weight: 700;">பகுப்பாய்வு பகுதி:</span> வாக்காளர்களின்பாலினம் மற்றும் வயது வாயிலாக  விவரங்கள்,  தேர்தல் வாரியாக பகுப்பாய்வு விவரங்கள், வாக்குச்சாவடி தகவல்கள், கட்சிகள் பெற்ற வாக்குகள் குறித்த <span style="font-weight: 700;">விளக்கப்படம்</span> மற்றும் தெருக்களின் விவரங்களை வழங்குகிறது. </li>

                                <li><span style="font-weight: 700;">பின்குறிப்பு பகுதி:</span> சட்டமன்றத் தொகுதிகளுக்கு உட்பட்ட மொத்த தெருக்களின் விவரங்களையும், அந்தந்த தெருக்கள் எந்த வாக்குச்சாவடிகளைச் சார்ந்துள்ளன உள்ளிட்ட தகவல்கள் பின்குறிப்பு பகுதியில் இடம்பெற்றிருக்கும்.  அறிந்துகொள்ள வேண்டிய தெருக்களைப் பற்றிய பகுப்பாய்வு விவரங்களைப் பின்குறிப்பு பகுதியின் வாயிலாகக் கண்டுபிடித்து எளிதாக அணுக முடியும்.  </li>
                            </ol>
                        {% elif flag== 3 %}
                            <p>ஒவ்வொரு வாக்குச்சாவடியிலும் திமுக அல்லது அதன் கூட்டணிக் கட்சிகள் பெற்ற வாக்குகளை, வெற்றியின் வித்தியாசத்தை மையமாக வைத்து, ஒவ்வொரு சாவடியிலும் இரண்டாவது இடத்தில் உள்ள கட்சியின் வாக்குகளுடன் ஒப்பிட்டு பகுப்பாய்வு செய்கிறது. இது மூன்றாம் இடத்தில் உள்ள கட்சிகளுக்கான வாக்குகளையும் ஆய்வு செய்து, எந்தெந்த வாக்குச்சாவடிகளில் உள்ள வாக்காளர்கள் மூன்றாவது கட்சியை நோக்கிச் செல்கிறார்கள் என்பதற்கான தரவுகளையும் அளிக்கிறது. எதிர்வரும் தேர்தல்களில் திமுக கூடுதல் கவனம் செலுத்த வேண்டிய வாக்குச்சாவடிகளின் விவரங்களை வழங்குகிறது. </p>
                        {% elif flag == 4 %}
                            <p>திமுக அல்லது கூட்டணிக் கட்சிகள் பெற்றுள்ள வாக்கு எண்ணிக்கை மற்றும் வெற்றி பெற்ற வாக்கு வித்தியாசத்தை இரண்டாம் இடத்தைப் பெற்றுள்ள கட்சியுடன் ஒப்பிடுவதைப் போல, அதிகமான வாக்குகளைப் பெற்று மூன்று மற்றும் நான்காம் இடத்தை பெற்ற கட்சிகளுடன் ஒப்பீடு செய்கிறது.  எந்தெந்த வாக்குச்சாவடிகளில் உள்ள வாக்காளர்கள் மாற்றத்திற்காக  மூன்றாவது மற்றும் நான்காவது கட்சியை நோக்கிச் செல்கிறார்கள் என்பது குறித்த தகவல்களை வழங்குகிறது. எதிர்வரும் தேர்தல்களில் வெற்றி வாய்ப்புகளை அதிகரிக்கக்  கவனம் செலுத்த வேண்டிய வாக்குச்சாவடிகளின் விவரங்களை அளிக்கிறது. </p>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}